<mat-card>
    <mat-card-header>
        <mat-card-title>{{user.Firstname}} {{user.Lastname}}</mat-card-title>
        <mat-card-subtitle>{{user.Email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Choose a role</mat-label>
            <mat-select #role (selectionChange)="readDescription(role.value)">
              <mat-option value="{{role.RoleID}}" *ngFor="let role of roles; index as i">{{role.RoleName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p>Role description: {{description()}}</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions align="end">
            <button #role (click)="updateUser(role.value)" mat-button>Update</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>