
mat-card {
    margin: 2rem;
    width: 60%;
}

mat-card mat-card-header {
    color: white;
    font-size: 2rem;
}

mat-card mat-card-content {
    margin: 1rem 0rem 0rem 0rem;
    color: white;
    font-size: 1rem;
}